name: 1 - Provision - Init - Shared Backend (run ones)

# Create storage account for saving shared tfstate

on:
  workflow_dispatch:

jobs:
  terraform-plan:
    uses: viorelll/vi-music-infrastructure/.github/workflows/terraform-plan.yml@main
    with:
      working-directory: terraform/shared_backend
      environment: shared
      plan-artifact-name: tfplan
    secrets: inherit
  terraform-apply:
    uses: viorelll/vi-music-infrastructure/.github/workflows/terraform-apply.yml@main
    needs: terraform-plan
    with:
      working-directory: terraform/shared_backend
      environment: shared
      plan-artifact-name: tfplan
    secrets: inherit
